<style type="text/css">
	h4 {
		display: flex;
		justify-content: space-between;
	}
	p {
		font-size: 10px;
	}
.contact .email-form {
    width: 100%;
}
</style>
<body>
<div class="container">
	<div class="row1" style="display: -ms-flexbox; display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;margin-left: -16px; width: 104%;">
		<div class="col-lg-4">
			<div class="info">
				<div class="address">
					<i class="bi bi-geo-alt"></i>
					<h4 style="color: black;">Location:</h4>
					<p style="color: black;">B-7, 61-62, Sector-3, Rohini, Delhi-110085</p>
				</div>
				<div class="open-hours">
					<i class="bi bi-clock"></i>
					<h4 style="color: black;">Open Hours:</h4>
					<p style="color: black;">Every day:<br>09:00 AM - 09:00 PM</p>
				</div>
				<div class="email">
					<i class="bi bi-envelope"></i>
					<h4 style="color: black;">Email:</h4>
					<p style="color: black;">support@getsdeready.com</p>
				</div>
				<div class="phone">
					<i class="bi bi-phone"></i>
					<h4 style="color: black;">Call:</h4>
					<p style="color: black;">+91 9773728034</p>
				</div>
			</div>
		</div>

		<div class="col-lg-8 mt-5 mt-lg-0">
			<form action="https://formspree.io/f/xwkdearj" method="post" class="email-form" id="my-form">
				<div class="row1"style="display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-left: -16px;width: 104%;">
					<div class="col-md-6 form-group">
						<input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required="" style="color: black;">
					</div>
					<div class="col-md-6 form-group mt-3 mt-md-0">
						<input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required="" style="color: black;">
					</div>
			    </div>
				<div class="form-group mt-3">
					<input type="text" class="form-control" name="subject" id="subject" placeholder="Your Phone No." required="" style="color: black;">
				</div>
				<div class="form-group mt-3">
					<textarea class="form-control" name="message" rows="8" placeholder="Type your message here, we generally reply within 10 minutes" required="" style="color: black;">
					</textarea>
				</div>
				<div class="text-center">
					<button type="submit">Send Message</button>
				</div>
				<p id="my-form-status"></p>
		    </form>
	    </div>
    </div>
</div>
</body>