<style type="text/css">
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #80808017;
    }
    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 28%;
        /* height: 61vh; */
        padding: 27px;
        border-radius: 25%;
        display: flex;
        align-items: center;
        background-color: #97838300;
    }
    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }h5{
        font-size: 18px;
    }
    .dot {
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
       display: inline-block;
       transition: background-color 0.6s ease;
    }h1{
            color: rgb(4, 83, 153);
            font-weight: bold;
    }
</style>
<h1>Recommendations from industry experts</h1>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container">
                <div class="card">
                    <h5 class="card-title">Nisha Garg<a href="https://www.linkedin.com/in/arun-goel-236456146/" target="_blank" rel="noreferrer">
                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512" color="var(--primary)" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg" style="color: var(--primary);"><path d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"></path>
                        </svg></a>
                    </h5>
                    <div class="card-body">
                        <div class="card-text" style="font-size: 11px; font-style: italic;">The comprehensive curriculum, coupled with the robust resume building assistance and guidance on off-campus hiring, make these courses a valuable. Both the 'Fast-Track To Full Spectrum Software Engineering' and 'Rapid Route To Software Engineering' courses, I can attest to their outstanding value. The curriculum is precise, industry-oriented, and covers all necessary skills for excelling in SDE roles.</p></div>
                    </div>
                </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="card">
                    <h5 class="card-title">Puneet Sangla<a href="https://www.linkedin.com/in/arun-goel-236456146/" target="_blank" rel="noreferrer">
                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512" color="var(--primary)" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg" style="color: var(--primary);"><path d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"></path></svg></a>
                    </h5>
                    <div class="card-body">
                        <div class="card-text" style="font-size: 11px; font-style: italic;">Having some experience in conducting interviews for my team, I can say that course covers all the basic concepts and skills required to crack the interview. Great work team!!. I've know Arun since 8 years now. I can vouch for him and say that I've never a met a person as hard working as him. He gives his 100 percent on any thing that he puts his mind. I really appreciate the perseverance that Arun has shown over many instances in past.</p></div>
                    </div>
                </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="card">
                    <h5 class="card-title">Vasu Gupta<a href="https://www.linkedin.com/in/arun-goel-236456146/" target="_blank" rel="noreferrer">
                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512" color="var(--primary)" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg" style="color: var(--primary);"><path d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"></path>
                        </svg></a>
                    </h5>
                    <div class="card-body">
                        <div class="card-text" style="font-size: 11px; font-style: italic;">The curriculum of both the courses seems really amazing, covering the entire spectrum of areas that an individual should focus upon irrespective of the years of experience they have. The team is also fabulous as well. I can assure every team member will be more than willing to go an extra mile for the students/professionals who take the course. My personal interaction with Arun has always been a delight. His way of dealing with so much professionalism at such young age is marvelous and much appreciated.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="card">
                    <h5 class="card-title">Archit Tripathi<a href="https://www.linkedin.com/in/arun-goel-236456146/" target="_blank" rel="noreferrer">
                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512" color="var(--primary)" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg" style="color: var(--primary);"><path d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"></path>
                        </svg></a>
                    </h5>
                    <div class="card-body">
                        <div class="card-text" style="font-size: 11px; font-style: italic;">I personally found curriculum very comprehensive, detailed. It is coving every topic that will help people not only in upskilling but will also get them ready fro interviews. Team is pretty impressive and have come from really strong backgrounds. Arun and Vinamer have been really great teachers. Arun taught more than 200 students of IIT Kanpur and that batch is doing really great.</p></div>
                    </div>
                </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="card">
                    <h5 class="card-title">Bhavnish gupta<a href="https://www.linkedin.com/in/arun-goel-236456146/" target="_blank" rel="noreferrer">
                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512" color="var(--primary)" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg" style="color: var(--primary);"><path d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"></path></svg></a>
                    </h5>
                    <div class="card-body">
                        <div class="card-text" style="font-size: 11px; font-style: italic;">The curriculum is meticulously curated with an industry-oriented approach. It covers everything from DSA, CS core subjects, Web Development to Low-Level Design and High-Level Design, equipping me with the necessary skills to excel in SDE roles. The team of instructors, professionals from leading product-based companies, is exceptional. Their real-world insights will be immensely helpful in providing a profound understanding of the subjects. The live doubt-solving sessions will ensure smooth learning process</p></div>
                    </div>
                </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="card">
                    <h5 class="card-title">Avi Aggarwal<a href="https://www.linkedin.com/in/arun-goel-236456146/" target="_blank" rel="noreferrer">
                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512" color="var(--primary)" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg" style="color: var(--primary);"><path d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"></path>
                        </svg></a>
                    </h5>
                    <div class="card-body">
                        <div class="card-text" style="font-size: 11px; font-style: italic;">The curriculum is comprehensive, industry-aligned, and imparts practical knowledge, covering DSA, CS core subjects, Web Development, and design concepts, which are paramount for SDE roles.The team, comprised of seasoned professionals from top-tier product-based companies will bring real-world insights into the classroom, enriching the learning process.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>