<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script defer src="script.js"></script>
    <title>Discount Countdown</title>
</head>
<style type="text/css">

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ffd05a;
  color: black;
  padding: 10px 0;
}
.text-center{
	font-style: initial;
}
.mx-5 {
    margin-right: 3rem!important;
    margin-left: 3rem!important;
}

.center {
    display: flex!important;
    align-items: center!important;
    position: fixed;
}
</style>
<body>
<header>
    <nav>
        <div class="text-center">
            Next batch starting from 3rd February, 2024.
            <div class="text-center">
                Avail <span class="fw-7">60% off</span> now!
            </div>
        </div>
        <div class="center mx-5"><div><div class="fw-8 text-center">0</div>Days</div> : <div><div class="fw-8 text-center">5</div>Hours</div> : <div><div class="fw-8 text-center">19</div>Mins</div> : <div><div class="fw-8 text-center">43</div>Secs</div></div>
    </nav>
</header>
</body>
</html>